<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Uygulama ag erisimi gerektirir (login/refresh, scan gonderimi). -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- NFC etiket okuma (devriye noktalari). -->
    <uses-permission android:name="android.permission.NFC"/>
    <!-- Android 13+ bildirim gosterimi (FCM push). Calisma zamaninda
         FirebaseMessaging.requestPermission() ile istenir; reddedilirse
         push gosterilmez ama uygulama normal calisir. -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Acil durum alarmina konum eklemek icin (best-effort; izin verilmezse
         alarm konumsuz gider, BEKLETILMEZ). -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <!-- NFC olmayan cihazlarda da kurulabilsin; donanim zorunlu degil. -->
    <uses-feature android:name="android.hardware.nfc" android:required="false"/>
    <application
        android:label="Yönetio"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Bildirim kucuk ikonu: Android bunu ALFA MASKESI olarak cizer —
             renk atilir, yalniz saydamlik kalir. Bu yuzden tam (gradyanli)
             logo DEGIL, basitlestirilmis monokrom isaret kullanilir; aksi
             halde beyaz bir leke gorunurdu. Ayarlanmazsa sistem uygulama
             ikonunu kullanir ve ayni sekilde lekelenirdi. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_stat_yonetio" />
        <!-- Sistemin kucuk ikonu/basligi boyadigi vurgu rengi. -->
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/yonetio_teal" />

        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
        <!-- image_picker: Android 11+ paket gorunurlugu — foto cekimi sistem
             kamera uygulamasina devredilir (bu yuzden ayrica CAMERA izni
             GEREKMEZ; galeri secimi sistem picker'i kullanir). -->
        <intent>
            <action android:name="android.media.action.IMAGE_CAPTURE"/>
        </intent>
        <!-- url_launcher: tel: linki icin arama uygulamasi gorunurlugu
             (acil durumda "Yonetimi ara"). -->
        <intent>
            <action android:name="android.intent.action.DIAL"/>
            <data android:scheme="tel"/>
        </intent>
    </queries>
</manifest>
